body{
  background-color: #ffffe0; /* Warna kuning cerah */
  font-family: arial, sans-serif; /* Jenis huruf yang bersih dan mudah dibaca */
  color: #191870: /* warna teks utama (biru gelap) */
}
  .kartu-profil{
    width: 300px;
    margin: 50px auto; /* 50px jarak atas/bawah, auto menengahkan 
    kiri/kanan */
    padding: 20px;
    background-color: white;
    border-radius: 15px; /* membuat sudut menjadi melengkung */
    box-shadow: 0 4px 8px rgba (0,0,0,0.1); */ efek bayangan */
}

.kartu-profil img {
  width: 300px;
  border-radius: 50%; */ trik untuk membuat gambar persegi menjadi lingkaran sempurna */
